@font-face {
    font-family: "Overpass-Black";
    src: url("font/webfonts_Overpass-Black/Overpass-Black.ttf.eot") format("eot"),
        url("font/webfonts_Overpass-Black/Overpass-Black.ttf.woff") format("woff")
}

@font-face {
    font-family: "ArcoPerpetuo-Regular";
    src: url("font/webfonts_ArcoPerpetuo-Regular/ArcoPerpetuo-Regular.ttf.eot") format("eot"),
    url("font/webfonts_ArcoPerpetuo-Regular/ArcoPerpetuo-Regular.ttf.woff") format("woff")
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --logo-color: invert(1); /* correspond à du blanc */
    /*--main-color: #FEFD93;*/
    /*--main-color: #D3D0A6;*/
    --main-color: #A6D0D3;
    --text-color-dark: #C6C6C6;
    --text-color-light: #F5F5F5;

    --text-color-black: #121212;

    --border-radius: 30px;

    --header-padding-x: 20px;
    --header-padding-y: 40px;
    --header-image-size: 80px
}

.dark{
    --logo-color: invert(0.13); /* correspond à du noir */
    --main-color: #41686A;
    --text-color-dark: #C6C6C6;
    --text-color-light: #212121;

    --text-color-black: #f0f0f0;
}

body{
    background-color: var(--main-color);
    font-size: 1rem;
    font-family: "ArcoPerpetuo-Regular", sans-serif;
}

a{
    color: var(--main-color);
    text-decoration: none;
}

h2, input[type='button']{
    font-family: "Overpass-Black", sans-serif;
    color: var(--text-color-black);
}

form input:focus, header select:focus{
    outline: none;
}

::placeholder{
    color: var(--text-color-dark);
}


@keyframes boing {
    0% {
        transform: translate(0, 0);
    }
    70%{
        transform: translate(0, 0);
    }
    74.5% {
        transform: scale(1.2, 1.1);
        transform-origin: center center;
    }
    82% {
        transform: scale(0.95, 0.95);
        transform-origin: center center;
    }
    92.5% {
        transform: scale(1.05, 1);
        transform-origin: center center;
    }
    100% {
        transform: scale(1, 1);
        transform-origin: center center;
    }
}



/*============== STRUCTURE ==============*/
main{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.main-hero{
    width: 95vw;
    height: max(900px, 95vh);
    background-color: var(--main-color);
    display: flex;

    border: 5px solid var(--text-color-light);
    border-radius: var(--border-radius);
}

header{
    width: calc(95vw - 10px);
    /*height: max-content;*/
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding-x) var(--header-padding-y);
    position: absolute;
    z-index: 1000;
    border-radius: var(--border-radius);
}

header img{
    width: var(--header-image-size);
    height: var(--header-image-size);
    filter: brightness(0) var(--logo-color);
    animation: boing 1500ms infinite ease-in-out;
}


.main-content{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: flex-end;
}

.left-content{
    height: calc(100% - calc(var(--header-padding-x) * 2) - var(--header-image-size));
    padding: var(--header-padding-x) 0 0 var(--header-padding-y);

    font-size: 1.9rem;
    letter-spacing: .2rem;
    color: var(--text-color-light);
}

.right-content{
    height: 100%;
    background-color: var(--text-color-light);
    border-radius: var(--border-radius) calc(var(--border-radius)/2) calc(var(--border-radius)/2) var(--border-radius);
    padding-top: calc(calc(var(--header-padding-x) * 3) + var(--header-image-size));

    display: flex;
    justify-content: center;
    align-items: center;
}



.form{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.form h2{
    font-size: 2.5rem;
}

.form .sign-with{
    margin: var(--header-padding-y) 0;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}

.form .sign-with .social{
    padding: 15px 5px;
    border-radius: 10px;
    border: 2px solid var(--text-color-dark);
    cursor: pointer;
}

.form .sign-with p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-black);
}

.form .sign-with img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.form .separate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-dark);
    font-size: 1.5rem;
}

.form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--header-padding-y) 0;
}

form input:not([type='button']){
    background-color: transparent;
    width: 100%;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--text-color-dark);
    padding: 0 5px;
    font-size: 1.3rem;
    color: var(--text-color-dark);
    margin-bottom: 30px;
}

form input[type='button']{
    margin: var(--header-padding-y) 0;
    width: 100%;
    background-color: var(--main-color);
    /*color: var(--text-color-light);*/
    border-radius: 10px;
    border: transparent;
    padding: 15px 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.form .join-login{
    width: 100%;
    display: flex;
    justify-content: left;
    color: var(--text-color-black);
}

header select{
    background-color: transparent;
    width: 100%;
    border: 2px solid transparent;
    padding: 0 5px;
    color: var(--text-color-dark);
    margin-bottom: 30px;


}

header select option{
    background-color: transparent;
}



#hero-img{
    width: clamp(150px, 60%, 40vw);
    height: clamp(150px, 60%, 40vw);
    background-image: url("img/bottle_cover.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 100;
    left: 10%;
    bottom: calc(16% - 2vw);
}

/*============== MODE SOMBRE =================*/
@media (prefers-color-scheme: dark) {
    :root{
        --logo-color: invert(0.13); /* correspond à du noir */
        /*--main-color: #FEFD93;*/
        /*--main-color: #D3D0A6;*/
        --main-color: #41686A;
        --text-color-dark: #C6C6C6;
        --text-color-light: #212121;

        --text-color-black: #f0f0f0;

        --border-radius: 30px;

        --header-padding-x: 20px;
        --header-padding-y: 40px;
        --header-image-size: 80px
    }

    .dark{
        --logo-color: invert(1); /* correspond à du noir */

        --main-color: #A6D0D3;
        --text-color-dark: #C6C6C6;
        --text-color-light: #F5F5F5;

        --text-color-black: #121212;
    }

}

@media screen and (orientation: portrait) {
    :root{
        --header-padding-y: 20px;
    }

    .langage a{
        color: var(--text-color-light);
    }

    .main-content {
        width: 100%;
        display: grid;
        grid-template-rows: 25% 75%;
        grid-template-columns: 100%;
        align-items: flex-end;
    }

    .left-content {
        height: 60%;
        padding: var(--header-padding-x) 0 0 var(--header-padding-y);
        font-size: 1.5rem;
        letter-spacing: .2rem;
        color: var(--text-color-light);
    }

    .right-content{
        border-radius: var(--border-radius) var(--border-radius) calc(var(--border-radius)/2) calc(var(--border-radius)/2);
    }



    #hero-img{
        /*width: clamp(150px, 40%, 30vw);*/
        /*height: clamp(150px, 40%, 30vw);*/
        width: 190px;
        height: 190px;
        background-image: url("img/bottle_cover.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -155%);

    }
}
